<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <variable name="logDirectoryBase" value="C:/ErrorLog/WinterIsComing/" />
  <targets async="true">
    <target name="Console" xsi:type="ColoredConsole" layout="${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console" />
  </rules>
</nlog>
